@using STG.ViewModels.Payment;

@{
    ViewData["Title"] = "Ошибка оплаты | STG";
    @using Microsoft.AspNetCore.Antiforgery
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}



<div class="col-12 row payment error">
    <div class="col-1 col-lg-4 col-md-4 col-sm-1"></div>

    <div class="col-10 col-lg-4 col-md-4 col-sm-10 row">
        <div class="block col-12 row">
            <div class="col-12">
                <h5>
                    Ошибка оплаты счета
                </h5>
            </div>

        </div>
    </div>

</div>