@using STG.ViewModels.Payment;

@model PaymentLiteViewModel;

@{
    ViewData["Title"] = "Успешная оплата | STG";
    @using Microsoft.AspNetCore.Antiforgery
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}



<div class="col-12 row payment success">
    <div class="col-1 col-lg-4 col-md-4 col-sm-1"></div>

    <div class="col-10 col-lg-4 col-md-4 col-sm-10 row">
        <div class="block col-12 row">
            <div class="col-12">
                <h5>
                    Успешная оплата счёта @(Model != null ? "№" + Model.id : "")
                </h5>
                @if (Model != null)
                {
                    @if (Model.lesson != null)
                    {
                        <p>Приступить к <a href="/lesson/@Model.lesson.id">уроку</a></p>
                    }
                    @if (Model.subscription != null)
                    {
                        <p>Приступить к <a href="/lessons">урокам</a></p>
                    }
                    @if (Model.preUserWithAppointment != null || Model.statement != null)
                    {
                        <p>Ваша заявка оплачена, ожидайте пожалуйста ответа от наших специалистов.<br />Приступить к <a href="/lessons">урокам</a></p>
                    }
                    @if (Model.package != null)
                    {
                        <p>Приступить к <a href="/package/@Model.package.id">программе</a></p>
                    }
                }
            </div>

        </div>
    </div>

</div>