@media (max-width:961px) {


    .vjs-fullscreen-control.vjs-control.vjs-button {
        display: none !important;
    }
    .full-screen-always-available .vjs-fullscreen-control.vjs-control.vjs-button {
        display: block !important;
    }


    .section1 {
        text-align: left;
        height: auto;
    }
    .section1 h5 {
        text-align: left;
    }
    .section1 .icons {
        margin-top: 35px;
    }

}
@media (max-width:992px){

    .header .logo {
        text-align: center;
    }

        .header .logo img {
            height: 31px;
            margin: 8px;
        }
}

@media (max-width:1025px) {


    .section6 p.custom {
        font-size: 12px;
    }

    .section6 .custom-line-left2 {
        width: 30px;
    }

    .section6 .custom-line-right2 {
        width: 30px;
    }



    .preview_video_1 .preview-video-title.short {
        font-size: 24px;
    }


    .vjs-has-started .vjs_name {
        display: none !important;
    }

    .btn_open_timing.active {
        display: none !important;
    }

    .vjs-has-started .html-classname {
        display: none !important;
    }

    .vjs-user-inactive .html-classname, .vjs-user-inactive .vjs_name {
        display: none !important;
    }

    .vjs-fullscreen-control.vjs-control.vjs-button {
        display: none !important;
    }

    .video-test .vjs-fullscreen-control.vjs-control.vjs-button {
        display: block !important;
    }
    .full-screen-always-available .vjs-fullscreen-control.vjs-control.vjs-button {
        display: block !important;
    }


    .divSpeedMobileCollapse div {
        display: inline-block;
    }
}