@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Poppins";
    src: url("./fonts/Poppins-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url("./fonts/Montserrat-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("./fonts/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamPro-Medium";
    src: url("./fonts/GothamPro-Medium.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "GothamPro-Light";
    src: url("./fonts/GothamPro-Light.woff") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialGothicBlack";
    src: url("./fonts/ArialGothicBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "CloisterBlack0";
    src: url("./fonts/CloisterBlack0.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "ArialGroundBold";
    src: url("./fonts/ArialGroundBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



body {
    font-family: "GothamPro-Light";
    background-color: #090909;
    color: #fff;
    background-image: url(images/background_repeat.png);
    background-position-x: center;
}
.row {
    margin:0;
    padding:0;
}
.modal {
    overflow-y:auto;
}

.modal-header {
    border-bottom:0;
}
.modal-footer {
    border-top:0;
}

.btn {
    /*
    background: #00FFF0;
    color: #000000;
    */
    color: #01EAEC;
    background-color: transparent;
    font-weight: 300;
    font-size: 10px;
    text-transform: uppercase;
    border: 1px solid #01EAEC;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 8px 25px;
    box-shadow: 0px 0px 5px 0px #01EAEC;
}
.btn:hover {
    color: #01EAEC;
}
.btn-noeffect {
    color:#989898;
    border:1px solid #989898;
    box-shadow:none;
}
.btn-alert-custom {
    color: #fff;
    border: 1px solid #de4343;
    box-shadow: 0px 0px 5px 0px #de4343;
}
.btn-chat {
    position: absolute;
    right: 0;
    border: 0;
    box-shadow: none;
    z-index: 1;
}
.btn-chat img {
    height:30px;
}
#warning {
    color:red;
}
.warning {
    width:100%;
    text-align:center;
    color: red;
}
.not-found {
    text-align:center;
}
a.not-clickable {
    cursor:not-allowed;
}

.div-basic-opacity {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
}
.hide-opacity {
    opacity: 0;
    transition: all 0.3s ease-out;
}
.modal-default {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 25px;
}



.form-control, .form-control:focus, .form-control:-webkit-autofill, .form-control:-webkit-autofill:hover, .form-control:-webkit-autofill:focus, .form-control:-webkit-autofill:active {
    background-color: transparent !important;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    padding-left: 0;
    color: #fff;
}
@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    border-radius: 0;
    padding-left: 0;
    color: #fff;
    filter: none;


    /*
    -webkit-box-shadow: rgba(0,0,0,1) 10px 10px inset !important;
    -webkit-text-fill-color: white !important;
        */
    /*
    -webkit-box-shadow: 0 0 0 100px rgba(0,0,0,0) inset;
    -moz-box-shadow: 0 0 0 100px rgba(0,0,0,0) inset;
    box-shadow: 0 0 0 100px rgba(255, 255, 255, 0.1) inset;
    -webkit-text-fill-color: white !important;
        */
}


::-webkit-calendar-picker-indicator {
    /*filter: invert(1);*/
}
input[type=date]::-webkit-calendar-picker-indicator {
    /*
    color:#00fff0;
    background-image: url(images/calendar.png);
    background-size:cover;
    */
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(images/calendar.png) no-repeat;
    width: 18px;
    height: 18px;
    border-width: thin;
    background-size: cover;
    background-position:center;
}









.form-control:disabled, .form-control[readonly] {
    background-color: transparent;
    opacity: 1;
}

.form-check-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.form-check-input + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.form-check-input + label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.form-check-input:checked + label::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}


input.form-control::placeholder, select.form-control::placeholder {
    color: #969696;
}
select option {
    color: #00fff0;
}
option:not(:checked) {
    background-color: #000;
}



.form-check label {
    font-size:14px;
}
.form-check {
    padding-left:0;
}
.modal a, .block a {
    color: #00FFFF;
    margin-left:4px;
}
.modal a:hover, .block a:hover {
    color: #00FFFF;
}
.modal .close img {
    height:25px;
}











select.not_filled, input.not_filled {
    border: 1px solid red;
}
#for_need_curator {
    display: none;
}
.divHide {
    display: none;
}
.divHideImportant {
    display: none!important;
}
span.danger {
    color:yellow;
}
span.success {
    color:green;
}
span.warning {
    color: yellow;
}
hr.section-hr {
    height: 1px;
    background-color: #00FFF0;
}


.div-btn-bar {
    text-align: right;
}
.btn-bar {
    margin-top: 8px;
    background-color: transparent;
    border: 2px solid #00fff0;
    border-radius: 4px;
    padding: 2px 8px;
}
.btn-bar i {
    color:#00fff0;
}
.menu-mobile {
    display: none;
    top: 0;
    right: 0;
    text-align: right;
    height: 100%;
    width: 70%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
}
.menu-mobile.active {
    display: block;
    position: fixed;
    z-index: 20;
}
.menu-mobile ul {
    padding-left:0;
    list-style:none;
    margin-top:25px;
}
.menu-mobile ul li {
    margin-bottom:15px;
}
.menu-mobile hr {
    background-color:#969696;
}
.menu-mobile ul li a {
    color:#fff;
    text-decoration:none;
}
.menu-mobile .social img {
    width: auto;
    height: 20px;
    margin: 15px 0 0 0;
}



.login-header {
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
    background-color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
}
.login-header img {
    height:40px;
    margin: 8px 0;
}
.login, .registration {
    padding: 120px 0;
}
.login input::placeholder, .registration input::placeholder {
    opacity:0.3;
}
.login a, .registration a {
    color: #00FFFF;
    margin-left: 4px;
}
.login .block, .registration .block {
        /*
    background: linear-gradient(154.57deg, #E9E9E9 0%, #8C8C8C 116.38%);
    border: 4px solid;
    border-image-source: radial-gradient(107.03% 103.85% at -4.73% 2.2%, #656565 0%, rgba(0, 0, 0, 0) 100%);
    border-radius: 30px;
    padding: 25px;
    text-align: center;
        */

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 25px;
    text-align: center;
}
.login .block h3,.registration .block h3 {
    text-align: center;
    margin-bottom:25px;
}
.login .block input, .login .block input {
    margin-bottom:15px;
}
.login .block .btn {
    margin-bottom: 15px;
}
.registration .block {
    text-align: left;
}
.registration .block h2 {
    text-align: center;
}
.registration .block p {
    text-align: center;
}
.registration .block label {
    font-weight: 300;
}
.registration .block input, select {
    margin-bottom:15px;
}
.registration .block .btn {
    margin-bottom: 15px;
    margin-top:12px;
}



.header {
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10;
    font-weight: 400;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}
.header.relative {
    position:relative;
    z-index:1;
    margin-bottom:-80px;
}
.header.static {
    position:static;
    margin-bottom:-80px;
}
.header:fullscreen {
    z-index:0;
}
.header .logo img {
    min-height: 40px;
    margin: 18px 0 18px 0;
}
.header ul {
    font-family: "GothamPro-Medium";
    list-style: none;
    padding-left: 0;
}
.header ul li {
    float: left;
    padding:10px 0.5vw;
}
.header ul li a {
    color:#fff;
    text-decoration: none;
    padding:4px;
}
.header ul li.active a {
    border-bottom:1px solid #fff;
}
.header .right {
    text-align: right;
    padding-top: 12px;
}
.header .right.auth {
    padding-top: 20px;
}
.header .right p {
    margin-bottom: 0;
}
.header .right .avatar {
    margin-top:12px;
    height:30px;
}
.header .right .dropdown-menu {
    right:0;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color:#fff;
}
.header .right a.dropdown-item  {
    color:#fff;
}
.header .right .dropdown-menu hr {
    border-top: 1px solid #969696;
}
.header .right a.dropdown-item:hover {
    color:#fff;
    background-color:transparent;
}

.header .btn-burger {
    height:100%;
    border:0;
    background-color: #fff;
    padding:8px 15px;
}

.header .btn-login {
    background-color: #004079;
}
.header .btn-registration {
    background-color:#222222;
}
.header .btn-sign-in {
    color: #01EAEC;
    background-color: transparent;
    font-weight: 300;
    margin: 20px 0 0 20px;
    text-transform: uppercase;
    border: 1px solid #01EAEC;
    box-sizing: border-box;
    box-shadow: 0px 0px 5px #01EAEC;
    border-radius: 30px;
}
.header a img {
    text-decoration:none;
}
.header a:hover {
    text-decoration: none;
}
.header .social img {
    width: auto;
    height: 20px;
    margin: 18px 10px 0 0;
}
.header .social.youtube img {
    width: auto;
}
.header #dropdownMenuButton {
    float:right;
    margin-left:25px;
}

.menu {
    /*margin-top: 10px;*/
}
.menu.mini span {
    display: none;
}
.menu div {
    position: fixed;
}
.menu ul {
    list-style: none;
    font-size:14px;
}
.menu.mini ul {
    font-size:16px;
}
.menu ul a {
    color:#000;
    text-decoration: none;
}
.menu ul a p {
    margin-bottom:0;
}
.menu ul li a i {
    width:18px;
}
.menu.mini ul li a i {
    margin-right: 0;
}
.menu ul li {
    cursor: pointer;
    border-radius: 4px;
    padding:35px 0 15px 0;
}

.menu ul li a {
    margin: 0 2vw 0 0;
    /*text-shadow: #004079 0 0 2px;*/
}










.footer {
    margin-top: 100px;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 70px;
    color: #fff;
}

.footer a:hover {
    text-transform:none;
    text-decoration: none;
}
.footer .div-social.logo {
    text-align:center;
}
.footer .div-social.second {
    margin-top:40px;
}
.footer .div-social a.social img {
    margin-top:17px;
    margin-right:20px;
}
.footer .div-social.second a.social img {
    margin-top:10px;
}

.footer img {
    max-height: 60px;
    margin-bottom:0;
}
.footer img.lilfam {
    max-height: 40px;
}

.footer .footer-menu {
    float:right
}
.footer .footer-menu ul {
    padding-left:0;
    list-style:none;
}
.footer .footer-menu ul li {
    float:left;
    margin-left:45px;
    font-size:14px;
}
.footer .footer-menu ul li a {
    color: #969696;
}
.footer p.telephone {
    position: absolute;
    bottom: 0;
    right: 15px;
    color: #969696;
    font-size:16px;
    text-align:right;
}
.footer p.telephone a {
    color: #969696;
}
.footer p.copyright {
    text-align: center;
    color: #969696;
    margin-top: 70px;
    font-size: 16px;
    margin-bottom:50px;
}








.main {
    margin-top: 100px;
    /*min-height: 100vh;*/
}


/*
.menu ul li.active a {
    color: #fff;
    background-color: rgb(0, 64, 121);
    border-radius:8px;
}
.menu ul li:hover a {
    color: #bababa;
}
*/
.main .content {
    /*background-color: #f9f9f9;*/
    padding: 0;
    display: block;
}
.h-title {
    margin:25px 0 15px 0;
    font-weight: 300;
}


.preview a {
    text-decoration: none;
    color:#fff;
}
.preview a:hover {
    text-decoration: none;
}

.preview_video_1 {
    border: 1px solid #969696;
    border-radius: 10px;
    margin: 12px;
    background-color: #3b3b3b;
    color: #fff;
    cursor: pointer;
    /*box-shadow: 8px 8px 8px 1px rgb(0 64 121 / 70%);*/
    transition: all 0.3s ease-out;
    opacity: 1;
}
.preview_video_1.hide-opacity {
    opacity:0;
    transition: all 0.3s ease-out;
}
.preview_video_1 .hide {
    display:none;
}
.preview_video_1 img {
    border-radius: 10px;
}
.preview_video_1 video {
    border-radius: 12px;
}
.preview_video_1 .left {
    position: absolute;
    padding:15px;
    height:100%;
}
.preview_video_1 .left.mouse_out {
    background-color: rgba(0,0,0,0.2);
    width:100%;
}
.preview_video_1 .left.mouse_out.hide {
    display: none;
}
.preview_video_1 .left.mouse_over {
    width:100%;
    display: none;
}
.preview_video_1 .left.mouse_over.show {
    display: block;
}
.preview_video_1 .left.mouse_over .play {
    background-color: #004079;
    color:#fff;
    right:15px;
    position: absolute;
    font-size:12px;
    padding:4px 12px;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight:700;
    transition: all 0.3s ease-out;
}
.preview_video_1 .left.mouse_over .play:hover {
    background-color: #f9f9f9;
    color:#000;
    transition: all 0.3s ease-out;
}
.preview_video_1 .left.mouse_over .icon-control.first {
    margin-top: 2%;
}
.preview_video_1 .left.mouse_over .icon-control {
    margin-bottom: 10%;
}
.preview_video_1 .left.mouse_over a {
    text-decoration: none;
    color:#fff;
}
.preview_video_1 .left.mouse_over a:hover {
    color:#bababa;
}
.preview_video_1 .left.mouse_over a i {
    font-size: 30px;
}
.preview_video_1 .level {
    display: inline-block;
    font-size: 10px;
    padding:2px 4px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 4px;
    margin-bottom: 20%;
}

.preview_video_1 .level.beginners {
    /*background-color: rgb(236, 97, 37);*/
    background-color: rgb(0, 64, 121);
}

.preview_video_1 .lock.single {
    background-color: #222222;
    position:absolute;
    top:15px;
    right:15px;
    padding:1px 8px;
    border-radius: 4px;
}
.preview_video_1 .lock.single.play {
    background-color: rgb(0, 64,121);
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
}
.preview_video_1 .name {
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.preview_video_1 .description {
    /*margin-top:calc(3vw);*/
    position: absolute;
    width:100%;
    left:0;
    top:50%;
}
.preview_video_1 p {
    margin-bottom: 0;
    font-size:12px;
    margin-bottom: 2px;
    /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
}
.preview_video_1 span {
    font-weight: 600;
}

.preview_video_1 .preview-video-lesson-type {
    width: 100%;
    color:#fff;
    text-align:center;
    font-size:12px;
    letter-spacing: 0.2rem;
}

.preview_video_1 .preview-video-title {
    font-family: "ArialGothicBlack";
    text-shadow:none;
    -webkit-text-stroke: 0.7px #00fff0;
    -webkit-text-fill-color: transparent;
    left: 0;
    bottom: 25%;
    font-size: 36px;
    text-align: center;
    /*-webkit-text-stroke: .02em #00fff0;*/
    line-height: 1;
    padding: 0 10%;
    display: block;
    vertical-align: top;
}
.preview_video_1 .preview-video-title.short {
    font-size:30px;
    margin-top:10px;
}
.preview_video_1 .preview-video-title.short.shorter {
    font-size:20px;
    margin-top:17px;
}

.preview_video_1 .preview-video-teacher {
    position: absolute;
    bottom:0;
    right:10px;
    font-family: "ArialGroundBold";
    font-size: 18px;
    text-align:right;
}








.video-container {
    /*
    height: 300px;
    width: 300px;
    */
    position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: -1;
}
.video-container video.active {
  z-index: 0;
}

/* Just styling the content of the div, the *magic* in the previous rules */
.video-container .caption {
  z-index: 1;
  position: relative;
  text-align: center;
  color: #dc0000;
  padding: 10px;
}














.main .content .schedule {
    background-color: #222222;
    padding-top:50px;
    color:#fff;
}
.main .content .schedule h1 {
    font-weight: 900;
}
.main .content .schedule .calendar {
    font-weight: 700;
    margin-bottom: 50px;
}
.main .content .schedule .calendar ul {
    list-style: none;
    padding-left:0;
}
.main .content .schedule .calendar ul li {
    float:left;

    margin:15px 6px 0 0;
}
.main .content .schedule .calendar ul li a {
    border:2px solid #fff;
    padding:4px;
    border-radius: 4px;
    cursor: pointer;
    margin-right:6px;
    color:#fff;
    text-decoration: none;
}
.main .content .schedule .stats {
    text-align: right;
}
.main .content .schedule .stats h1 {
    margin-bottom: 0;
}
.main .content .schedule .stats p {
    font-size:10px;
    margin-bottom: 0;
}



.main .content .schedule .right-part {
    background-color: #3b3b3b;
    padding-top:25px;
}
.main .content .schedule .right-part h6 {
    font-weight: 900;
    letter-spacing: .1rem;
}
.main .content .schedule .right-part a {
    text-decoration: none;
    color:#fff;
}
.main .content .schedule .right-part .current-program {
    margin-top: 12px;
}
.main .content .schedule .right-part .current-program img {
    border-radius: 12px;
    z-index: 0;
}
.main .content .schedule .right-part .current-program .info {
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    z-index: 1;
    padding:12px;
    height:100%;
    width:100%;
}
.main .content .schedule .right-part .current-program .info p {
    margin-bottom: 0;
    font-size:12px;
}
.main .content .schedule .right-part .current-program .info .name {
    margin:4% 0 8% 0;
    font-weight: 700;
}
.main .content .schedule .right-part .current-program .info .description {
    position: absolute;
    bottom:20px;
}
.main .content .schedule .right-part .current-program .info .description span {
    font-weight: 700;
}
.main .content .schedule .right-part hr {
    background-color:#3b3b3b
}
.main .content .schedule .right-part .reference-time {
    font-size:12px;
}







.main .content .schedule-calendar {
    border-top:1px solid #3b3b3b;
    padding:15px;
}
.main .content .schedule-calendar h5 {
    font-weight: 700;
}
.main .content .schedule-calendar h6 {
    font-weight: 700;
    font-size: 14px;
    margin:15px 0 12px 0;
    text-transform: uppercase;
}

.main .content .schedule-calendar .btn-control {
    background-color: transparent;
    border:0;
    color:#fff;
    padding:0;
    margin: 0 2px;
}
.main .content .schedule-calendar table {
    color:#fff;
    width:100%;
    text-align: center;
}
.main .content .schedule-calendar table td {
    padding-top:6px;
}
.main .content .schedule-calendar table a {
    text-decoration: none;
    color:#fff;
    padding:6px;
}
.main .content .schedule-calendar table a.current {
    background-color: #004079;
    border-radius:50%;
}
.main .content .schedule-calendar table a.active {
    background-color: rgba(106, 90, 205, 0.3);
    border-radius:50%;
}
.main .content .schedule-calendar .block {
    font-size:12px;
    background-color: #3b3b3b;
    border-radius: 4px;
}
.main .content .schedule-calendar .block .desc p {
    margin-bottom:0;
    margin-left:12px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.main .content .schedule-calendar .block .desc p.name {
    margin-top:12px;
    font-weight: bold;
}
.main .content .schedule-calendar .block .add {
    background-color: #004079;
    height:100%;
    text-align: center;
    vertical-align: baseline;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.main .content .schedule-calendar .block .added {
    color: #004079;
    background-color: #bababa;
    height:100%;
    text-align: center;
    vertical-align: baseline;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}
.main .content .schedule-calendar .block .add p {
    padding-top:40%;
}
.main .content .schedule-calendar .block .added p {
    padding-top:40%;
}













.teacher {
    margin:2vh 0;
}
.teacher img {
    border-radius:30px;
}
.teacher hr {
    margin:8px 0;
}
.teacher .title-img {
    padding:0;
}
.teacher .title-img img {
    width:100%;
}
.teacher .short-info {
    margin-bottom:35px;
}
.teacher .short-info ul {
    list-style: none;
    padding-left:0;
    font-size:26px;
    margin-bottom: 50px;
}
.teacher .short-info ul li {
    float: left;
    margin-right:2vw;
}
.teacher .short-info ul li a {
    color:#3b3b3b;
}
.teacher .short-info a {
    color:#3b3b3b;
}
.teacher .short-info a i {
    font-size: 26px;
    color: #00FFF0;
}
.teacher .short-info h5.name {
    font-weight: 700;
    font-size: 26px;
    margin:15px 0 5px 0;
    /*color:#004079;*/
}
.teacher .info {
    border: 4px solid #00FFF0;
    border-radius: 30px;
    padding:20px;
    margin-bottom:15px;
    background: radial-gradient(191.82% 131.77% at 0% 0%, rgba(0, 255, 240, 0.3) 0%, rgba(151, 255, 249, 0) 100%);
    backdrop-filter: blur(5px);
}
.teacher .info h5 {
    font-weight: 700;
    font-size:20px;
}







.html-classname {
    text-align: center;
    height: auto!important;
    position: absolute!important;
    /*top:40%;*/
    bottom:10%;
    left: 38%;
    width:80px!important;
    text-shadow: #000 0 0 2px;
    opacity:1;
    visibility: visible;
    transition: all 1s ease-out;
    display: none!important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.html-classname.second {
    left: 46%;
}
.html-classname.third {
    left: 54%;
}
.html-classname.backward {
    top:40%;
    height:70px!important;
}
.html-classname.forward {
    top:40%;
    height:70px!important;
    left: 54%;
}

.vjs_name {
    height: auto;
    text-align: left!important;
    position: absolute!important;
    top:-43%;
    font-size:22px!important;
    left: 4%;
    width:20%!important;
    text-shadow: #000 0 0 2px;
    opacity:1;
    cursor: auto!important;
    visibility: visible;
    transition: all 1s ease-out;
    display: none!important;
}
.vjs-has-started .vjs_name {
    display: inline-block!important;
}
.vjs-fullscreen .vjs_name {
    top:-44%;
}
.video-js .vjs-picture-in-picture-control {
    display: none !important;
}
.video-js .vjs-big-play-button {
    margin-top: 24%;
    margin-left: 44%;
}


.btn_open_timing {
    position: absolute !important;
    z-index: 4;
    top: 1vw;
    right: 25px !important;
    border: 2px solid #fff !important;
    height: auto !important;
    width: 120px !important;
    padding: 8px !important;
    font-size: 16px !important;
    text-transform: uppercase !important;
    display: none !important;
}
.btn_open_timing.active {
    display: block!important;
}
.btn_open_timing p {
    margin:0;
}




.div_timing {
    position: absolute!important;
    top: 0;
    right: 0!important;
    height: auto!important;
    width: 250px!important;
    font-size: 14px!important;
    text-align: left!important;
    background-color: rgba(34, 34, 34, 0.7)!important;
    cursor: auto!important;
    display: none!important;
    overflow-y:auto;
    max-height:50vh;
}
.div_timing::-webkit-scrollbar {
    width: 8px;
}
.div_timing.active {
    display: block!important;
}
.div_timing:active, .div_timing:focus {
    text-decoration: none!important;
    text-shadow: none!important;
}
.div_timing a {
    text-decoration: none;
    color:#00fff0;
}
.div_timing a:hover {
    text-decoration: none;
    color:#fff!important;
}
.divTimingHeader {
    background-color: rgba(34, 34, 34)!important;
    padding: 20px 12px!important;
    width:100%;
}
.divTimingHeader p {
    font-size: 14px!important;
}
.divTimingHeader div {
    display: flex;
    flex-direction: row;
}
.divTimingHeader div h5 {
    margin-bottom: 0;
}
.divTimingHeader div button {
    margin-left: auto;
    margin-bottom: 0;
}
.div_timing ul {
    list-style: none;
    padding:12px!important;
}
.div_timing ul li.section {
    font-weight: 700;
    margin-bottom:8px;
}
.div_timing ul li ul {
    margin-left:0;
}
.div_timing ul li ul li {
    margin-bottom:8px;
}
.div_timing ul li ul li a:hover {
    color:rgba(139, 0, 255);
}
.div_timing ul li ul li.active a {
    color:#8b00ff;
}
.div_timing ul li ul li i {
    opacity: 0;
}
.div_timing ul li ul li.active i {
    opacity: 1;
}








.vjs-has-started .html-classname {
    display: inline-block !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.html-classname.active {
    color: rgb(30, 144, 255) !important;
}
.html-classname p {
    margin-top:12px;
}
.vjs-user-inactive .html-classname, .vjs-user-inactive .vjs_name {
    opacity: 0;
    transition: all 1s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.vjs-user-active .html-classname, .vjs-user-active .vjs_name {
    opacity: 1!important;
    transition: all 1s ease-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


.lessons {
    min-height:70vh;
}
.lesson {

}
.lesson .player {
    /*display: block;*/
    position:relative;
    border-radius:10px;
}
.lesson video {
    border-radius:10px;
}
.lesson .control-plus {
    position:absolute;
    z-index: 2147483647;
    color:#dc0000;
    background-color: #fff;
    margin-top:-120px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;


}
.lesson video {
    object-fit: cover;
    object-position: center top;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*
    width: 100% !important;
    height: 99% !important;
        */
}
.lesson .video-test video {
    object-fit: contain;
    object-position: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    /*
    width: 100% !important;
    height: 99% !important;
        */
}
.lesson .vjs-fullscreen video {
    /*height: 99% !important;*/
    height:200%!important;
    width:auto;
}
.lesson .vjs-fullscreen.video-test video {
    /*height: 99% !important;*/
    height:100%!important;
    width:100%;
}
.lesson video.flip {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.lesson video.rotate {
    object-fit: cover;
    object-position: center bottom;
}
.lesson .vjs-fullscreen video.rotate {
    transform:translateY(-50%);
}
.lesson .div-basic-opacity {
    padding:30px;
}
.lesson-block {
    padding: 25px;
}


.lesson-description a {
    color: #00fff0;
}
.lesson-description {
    margin-top:30px;
}
.lesson-description img {
    border-radius:50%;
    border:2px solid #00fff0;
}
.lesson-description p {
    font-size:16px;
    margin-top:6%;
}
.lesson-description .btn {
    margin-top:4%;
}
.lesson-description h4 {
    font-size: 20px;
    margin-bottom: 0;
}
.lesson-description a:hover {
    text-transform:none;
}
.lesson .control-mobile {
    text-align:center;
    margin-top:25px;
}
.lesson .control-mobile .btn-player-control {
    background-color:transparent;
    color:#00fff0;
    /*margin-right:10px;*/
    padding:4px 10px;
}
.lesson .control-mobile .btn-player-control.active {
    background-color:rgba(200,200,200,0.9);
    color:#00FFF0;
}
.div-backward .btn-player-control {
    position: absolute;
    z-index: 1;
    top: 40%;
    padding: 4px 8px 6px 8px;
    border: 0;
    box-shadow: none;
}
.div-forward .btn-player-control {
    position: absolute;
    z-index: 1;
    top: 40%;
    padding: 4px 8px 6px 8px;
    border: 0;
    box-shadow: none;
}

.lesson .other-lessons {
    margin-top: 135px;
}
.lesson .other-lessons a {
    color: #00fff0;
}
.lesson .other-lessons h2 {
    text-align:center;
    margin-bottom:70px;
    font-size:36px;
}

.lesson .divTimingMobile, .lesson .divSpeedMobileCollapse {
    background-color: rgba(34, 34, 34, 0.7);
    border-radius: 10px;
    padding: 12px;
    margin-top: 12px;
    display: none;
}
.lesson .divSpeedMobileCollapse {
    text-align:center;
}
.lesson .divTimingMobile.active, .lesson .divSpeedMobileCollapse.active {
    display: block;
}
.lesson .divTimingMobile ul {
    padding-left:0px;
    list-style:none;
}
.lesson .divTimingMobile ul i {
    display:none;
}
.lesson .divTimingMobile ul li ul {
    padding-left:15px;
}
.lesson .divTimingMobile ul li a {
    color:#00fff0;
    text-decoration:none;
}
.lesson .divTimingMobile ul li a:hover {
    color:#fff;
    text-decoration:none;
}


.divSpeedMobileCollapse div {
    background-color: #969696;
    color: #000;
    width:50px;
    padding: 8px 0;
    border-radius: 12px;
    margin-bottom: 4px;
    font-size: 10px;
    cursor: pointer;
    display: block;
}
.divSpeedMobileCollapse div:hover {
    background-color: #bababa;
    color: #fff;
}
.divSpeedMobileCollapse div.active {
    background-color: #3b3b3b;
    color: #fff;
}






.control-speed {
    display: none;
    background-color: #222222;
    padding: 12px;
    border-radius: 12px;
    position: absolute;
    margin-top: -200%;
    margin-left: -25%;
}
.control-speed.active {
    display:inline-block;
}
.control-speed:hover {
    display:inline-block;
}
.control-speed div {
    background-color: #f9f9f9;
    color:#000;
    padding:4px 12px;
    border-radius: 12px;
    margin-bottom:4px;
    font-size:10px;
    cursor:pointer;
}
.control-speed div:hover {
    background-color: #bababa;
    color:#fff;
}
.control-speed div.active {
    background-color: #3b3b3b;
    color:#fff;
}
.video-web-camera {
    position: absolute;
    margin-top: -56%;
    width: 50%;
    height: 100%;
    margin-left: -30%;
    z-index:-1;
}





.profile form {
    padding:15px 0 0 0;
}








.payment-new .block {
    /*
    background: linear-gradient(154.57deg, #E9E9E9 0%, #8C8C8C 116.38%);
    border: 2px solid #00FFF0;
    border-radius: 30px;
        */
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px );
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;

    padding: 25px;
    margin-top: 15%;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
}
.payment-new .block h5 {
    font-weight: 400;
    text-align: center;
    margin-bottom:25px;
}

.payment-new .block .abonement-info, .payment-new .block .lesson-price-info {
    border: 1px solid #969696;
    padding: 20px 8px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 8px;
    opacity: 0.7;
    color: #969696;
}
.payment-new .block .abonement-info p, .payment-new .block .lesson-price-info p {
    text-align: right;
    margin-bottom: 0;
    font-weight: 900;
}
.payment-new .block .abonement-info.active, .payment-new .block .lesson-price-info.active {
    opacity: 1;
    border: 1px solid #00FFFF;
    color: #01EAEC;
}
.payment-new form {
    margin-top:12px;
    padding:4px;
}
.payment-new form .btn {
    margin-top:20px;
    text-align:center;
}



.payment .block {
    margin-top: 15%;
    border: 1px solid #000;
    border-radius: 12px;
    box-shadow: 1px 1px 10px 0 rgb(0 0 0 / 25%);
    padding: 20px;
    text-align:center;
}

.payment.success h5 {
    color: green;
    font-weight: 700;
}
.payment.error h5 {
    color:red;
    font-weight:700;
}







.packages {
    min-height:70vh;
}

.package {
    scrollbar-width: thin;
}
.package .package-info {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position:relative;
}
.package .package-info .poster {
    text-align:center;
}
.package .package-info .poster img {
    border-radius: 10px;
    width:100%;
}
.package .poster .bgd-light {
    margin-top: -30%;
    margin-left: -25%;
}
.package .package-info .description {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 0 0 10px 10px;
    padding:25px 27px 29px 27px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.package .title {
    font-size:20px;
    margin-bottom:28px;
}
.package .package-info .description .short-info-stats {
    margin-bottom: 8px;
}
.package .package-info .description .short-info-stats img, .package .package-info .description .short-info-stats i {
    margin-right:4px;
    margin-top:-2px;
    color:#00fff0;
}
.package .package-info .description .short-info-stats span {
    margin-right: 20px;
}
.package .package-info .description .short-info-tariff {
    margin-bottom: 42px;
}
.package .package-info .btn-start .btn {

}
.package .package-mentor {
    padding: 30px;
    transition: all 0.3s ease-out;
    opacity: 1;
    overflow-y:auto;
}
.package .package-mentor.hide-opacity {
    transition: all 0.3s ease-out;
    opacity: 0;
}
.package .package-mentor h4 {
    font-size:20px;
    margin-bottom: 15px;
}
.package .package-mentor .poster {
    float: left;
    text-align: center;
    margin: 0 27px 27px 0;
}
.package .package-mentor img {
    max-width:20vh;
}
.package .package-mentor .poster h4 {
    font-size: 20px;
    margin-top: 20px;
    color: #01EAEC;
}
.package .package-mentor .description {
    font-size: 16px;
}


.package .package-mentor::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
}

.package .package-mentor::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* color of the tracking area */
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.package .package-mentor::-webkit-scrollbar-thumb {
    background: #C4C4C4;
    border-radius: 10px;
}






.package .lessons {
    margin-top: 10vh;
}
.package .lessons h3 {
    text-align:center;
    margin:140px 0 100px 0;
}
.package .lessons .statistic {
    font-size:20px;
    margin-bottom: 50px;
}
.package .lessons .statistic i {
    margin-right:5px;
    color:#00fff0;
}
.package .lessons .statistic span {
    margin-right:20px;
}
.package .lessons .preview_video_1 .name {
    font-size:14px;
}


.package .pre-package-day {
    margin-bottom:15px;
}
.package .package-day {
    padding:15px;
    margin-left:15px;
    margin-right:15px;
}
.package .package-day.left {
    margin-right:15px;
}
.package .package-day.right {
    margin-left:15px;
}
.package .package-day .package-day-number {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 30px;
}
.package .lessons .package-day p.lesson-stats.first {
    margin-top:60%;
    margin-bottom:16px;
}
.package .lessons .package-day p.lesson-stats {
    font-size:12px;
    margin-bottom:0;
}
.package .lessons .package-day p.lesson-stats i {
    color:#00fff0;
}
.package .lessons .package-day p.lesson-stats span {
    color:#969696;
}
.package .lessons .package-day p.lesson-stats span.active {
    color: #01EAEC;
    cursor:pointer;
}
.package .lessons .package-day p.lesson-stats .btn {
    margin-top:15px;
}


.modalPackageLessonHomework .modal-header {
    display:block;
}
.modalPackageLessonHomework p {
    font-size:14px;
    margin-bottom:26px;
}
.modalPackageLessonHomework span.homework-status {
    color: #01EAEC;
}
.modalPackageLessonHomework .btn-choose-file {
    font-size:11px;
    padding:16px 28px;
    margin-bottom:40px;
}
.modalPackageLessonHomework .homework-files-for-uploads span {
    cursor:pointer;
    margin-left:15px;
    color:#00fff0;
}
.modalPackageLessonHomework textarea, .modalPackageLessonHomework textarea:focus, .teacher-answer {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 12px 40px 12px 12px;
    margin-bottom: 12px;
}
.modalPackageLessonHomework .teacher-answer {
    padding: 10px;
    text-align: right;
    width: fit-content;
    float: right;
}
.modalPackageLessonHomework .teacher-answer p {
    margin-bottom: 0;
}
.modalPackageLessonHomework .homework-answer-date {
    font-size: 9px;
    color: #969696;
}
.modalPackageLessonHomework .success .btn {
    margin-top:15px;
}



.btn-open-chat {
    position: fixed;
    right: 35px;
    bottom: 35px;
    display: none;
    /*background: rgba(255, 255, 255, 0.1);*/
    /*border: 1px solid rgba(255, 255, 255, 0.3);*/
    border: 0;
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    padding: 12px;
    box-shadow: none;
    z-index: 1;
}
.btn-open-chat.active {
    display:block;
}
.btn-open-chat img {
    width:50px;
}

.btn-open-chat .svg-riple {
    position:absolute;
    z-index:-1;
    border-radius:50%;
    top: -13px;
    left: -13px;
    opacity:0.5;
    display:none;
}
.btn-open-chat .svg-riple.active {
    display:block;
}

.btn-open-chat rect {
    fill: none;
}

.btn-open-chat circle {
    fill: #00fff0;
    opacity: 0.3;
}

.btn-open-chat svg > circle:last-child {
    fill: #00fff0;
    opacity: 1;
}

.btn-open-chat #rp1 {
    animation: ripple1 1.2s linear infinite;
}

@keyframes ripple1 {
    0% {
        transform: scale(5.5);
        opacity: 0.3;
    }

    100% {
        transform: scale(8.5);
        opacity: 0.0;
    }
}

.btn-open-chat #rp2 {
    animation: ripple2 1.2s linear infinite;
}

@keyframes ripple2 {
    0% {
        transform: scale(3.5);
    }

    100% {
        transform: scale(5.5);
    }
}

.btn-open-chat #rp3 {
    animation: ripple3 1.2s linear infinite;
}

@keyframes ripple3 {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(3.5);
    }
}

.btn-open-chat #rp4 {
    animation: ripple4 1.2s linear infinite;
}

@keyframes ripple4 {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1.5);
    }
}


.widget-chat {
    position: fixed;
    right: 35px;
    bottom: 35px;
    z-index: 1;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    box-shadow: none;
    padding: 0;
    border-radius: 10px;
    width: 300px;
    display: none;
}
.widget-chat.active {
    display:block;
}
.widget-chat-header {
    padding:10px;
    border-bottom: 1px solid #969696;
}
.widget-chat-header .mentor {
    display: flex;
}
.widget-chat-header .close{
    width:35px;
}
.widget-chat-header .mentor img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: 6px;
}
.widget-chat-header p {
    margin:12px;
    color: #01EAEC;
    font-size:20px;
}
.widget-chat-footer {
    padding: 10px;
    border-top: 1px solid #969696;
}
.widget-chat-footer input {
    border:none;
    width:85%;
}
.widget-chat-footer input::placeholder {
    color:rgba(255,255,255,0.8);
}
.widget-chat-footer input:focus {
    border:none;
}
.widget-chat-footer .btn-chat {
    padding:8px 12px;
    margin-top:-4px;
}
.widget-chat-footer .btn-chat img {
    height:30px;
}
.widget-chat-body {
    height:300px;
}
.widget-chat-content {
    overflow-y: auto;
    height: 300px;
}
.widget-chat-body .chat-message {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    width: fit-content;
}
.widget-chat-body .chat-message.admin {
    float:right;
}
.widget-chat-body .chat-message p {
    font-size:13px;
    margin-bottom:0;
}
.widget-chat-body p.chat-message-date {
    font-size: 9px;
    color:#fff;
    text-align:right;
}












.homework h3 {
    text-align: center;
    font-family: "GothamPro-Medium";
}
.homework input {
    margin:15px 0;
}

.homework .teacher-answer {
    text-align: right;
}

.homework .teacher-answer label {
    font-weight: 700;
}
.homework .teacher-answer p {
    font-size:14px;
}















.modalExcluziveAccess, .modalRegistration, .modalTeacher, .modalExcluziveError, .modalLessonTeaser, .modalNotAvailableLessonTeaser {
    /*
    background: linear-gradient(154.57deg, #E9E9E9 0%, #8C8C8C 116.38%);
    border: 2px solid #00FFF0;
    border-radius: 30px;
    padding: 25px;
    text-align: center;

    color:#000;
        */
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border-radius: 10px;
    padding: 25px;
}
#modalExcluziveAccess .modal-lg {
    max-width:80%!important;
}
#modalExcluziveAccess .modal-header, .modalExcluziveError .modal-header, .modalNotAvailableLessonTeaser .modal-header {
    display: block;
    text-align: center;
}
.modalExcluziveAccess .block {
    display: inline-block;
    border: 1px solid #00FFFF;
    box-sizing: border-box;
    border-radius: 10px;
    margin:0 4px;
    padding:24px;
    height:fit-content;
}
.modalExcluziveAccess .block .btn {
    margin-top:34px;
}
.modalExcluziveAccess h5 {
    font-size:22px;
    text-align:center;
    margin:0 15%;
}
.modalExcluziveAccess h3 {
    text-align: center;
    font-size: 20px;
    color: #01EAEC;
    margin-bottom: 17px;
}
.modalExcluziveAccess ul {
    text-align:left;
    padding-left:0;
    font-size:18px;
    list-style:none;
}
.modalExcluziveAccess ul li {
    margin-bottom: 17px;
}
.modalRegistration ul.ul-requirements {
    list-style:none;
    padding-left:0;
    font-size:12px;
}
.modal .prolongation-div {
    margin-top:30px;
}
.modal .close {
    color:#fff;
}


.modalRegistration h5 {
    text-align: center;
    width: 100%;
}
.modalRegistration {
    text-align: left;
}
.modalRegistration h2 {
    text-align: center;
}
.modalRegistration p {
    text-align: center;
}
.modalRegistration input, select {
    margin-bottom:15px;
}
.modalRegistration .btn {
    margin-bottom: 15px;
    margin-top:12px;
}
.modalRegistration .choose-curator label a {
    margin-right:4px;
}
.modalRegistration .choose-curator label span {
    display:none;
}
.modalRegistration .choose-curator label font {
    color:#00fff0;
    margin-right:4px;
}
.modalRegistration .choose-curator label span.active {
    display:block;
}






.modalRegistration .abonement-info {
    border: 1px solid #969696;
    padding: 20px 8px;
    cursor: pointer;
    margin: 8px 0;
    border-radius: 8px;
    opacity: 0.7;
    color:#969696;
}
.modalRegistration .abonement-info.active {
    opacity: 1;
    border: 1px solid #00FFFF;
    color: #01EAEC;
}
.modalRegistration .abonement-info p {
    text-align: right;
    margin-bottom: 0;
    font-weight: 900;
}
.modalRegistration .abonement-info.active p {
    color: #fff;
}
.modalRegistration .modal-footer {
    display:block;
    text-align:center;
}
.modalRegistration .modal-footer .btn {
}


.modalTeacher {
    padding: 0 0 15px 0;
}

.modalTeacher .modal-header {
    height: 0;
}

.modalTeacher .modal-body {
    padding: 20px;
}

.modalTeacher img.poster {
    border-radius: 50%;
    border: 2px solid #00eef5;
    max-height:175px;
}

.modalTeacher .teacher-name {
    margin: 32px 0 36px 0;
    color: #01EAEC;
    font-size: 20px;
}

.modalTeacher .teacher-name img {
    margin: -2px 4px 0 0;
}

.modalTeacher .description {
    font-size: 14px;
}

.modalTeacher .preview_video_1 {
    margin: 0;
}

.modalTeacher .lessons {
    overflow-y: auto;
    height: 100%;
}




.modal-content.modalExcluziveError {
    margin-left: -17px;
}
.modalExcluziveError .modal-body {
    text-align: center;
}
.modalExcluziveError .modal-body p {
    margin-bottom: 35px;
}
.modalExcluziveError button.close {
    position: absolute;
    right: 40px;
}




#modalLessonTeaser {
    padding-top: 10%;
}
#lesson-teaser-noavailable {
    border-radius: 10px;
}
.modalNotAvailableLessonTeaser video {
    border: 1px solid #00FFFF;
    box-sizing: border-box;
    border-radius: 10px;
}
.modalNotAvailableLessonTeaser .video-js {
    margin-bottom: 40px;
}
.modalNotAvailableLessonTeaser .for_public .btn {
    /*margin-top: 40px;*/
}
.modalNotAvailableLessonTeaser .vjs-control-bar {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.modalLessonTeaser .close, .modalNotAvailableLessonTeaser .close {
    padding: 0;
}


.modalNotAvailableLessonTeaser .modal-body .for_private {
    text-align: center;
}

.modalNotAvailableLessonTeaser .modal-body .for_private p {
    margin-bottom: 35px;
}

.modalNotAvailableLessonTeaser button.close {
    /*
    position: absolute;
    right: 40px;*/
}






.package-passing-lessons img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 12px;
}
.package-passing-lessons img.finished {
    border:4px solid green;
}
.package-passing-lessons img.notfinished {
    border: 4px solid red;
}
.package-passing-lessons h5 a {
    color: #E9E9E9;
}
.package-passing-lessons .package-day h4 {
    font-weight:700;
}
.package-passing-lessons .package-day .package-lesson {
    margin-bottom:25px;
}
.package-passing-lessons .package-day .package-lesson .stats {
    margin-bottom:0;
}
.package-passing-lessons .package-day .package-lesson .panel-group {
    margin-top: 15px;
}

.package-passing-lessons .package-day .package-lesson .homework-content {
    background: radial-gradient(191.82% 131.77% at 0% 0%, rgba(0, 255, 240, 0.3) 0%, rgba(151, 255, 249, 0) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid;
    padding: 15px;
    margin-top: 15px;
}

.package-passing-lessons .package-day .package-lesson .homework-content hr {
    height: 1px;
    background-color: #00FFF0;
}
.package-passing-lessons .package-day .package-lesson .homework-content .mission-title {
    font-weight: 900;
    margin-top: 15px;
    margin-bottom: 0;
}

.package-passing-lessons .package-day .package-lesson .user-answer-block {
    background-color: #4e5154;
    color:#fff;
    padding: 15px;
    width:fit-content;
    border-radius:10px;
    margin-top:25px;
}
.package-passing-lessons .package-day .package-lesson .user-answer-block a {
    color: #00FFF0;
}
.package-passing-lessons .package-day .package-lesson .user-answer-date, .package-passing-lessons .package-day .package-lesson .admin-answer-date {
    font-size:12px;
    margin-bottom:0;
}
.package-passing-lessons .package-day .package-lesson .user-answer-title {
    margin-top:4px;
    font-weight:900;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-block {
    background-color: #4e5154;
    color:#fff;
    padding: 15px;
    min-width:100%;
    border-radius:10px;
    margin-top:25px;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-title {
    margin-top:4px;
    font-weight:900;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-block .btn {
    margin-top: 12px;
}







.package-chat .message {
    background-color: rgb(200 200 200 );
    color: #000;
    width: fit-content;
    padding: 12px;
    margin-top: 12px;
    border-radius: 15px;
}

.package-chat .message.admin {
    float: right;
}
.package-chat .message.admin h6, .package-chat .message.admin h4 {
    text-align: right;
}

.package-chat .message h6 {
    margin: 0;
    font-size: 12px;
}
.package-chat .message h6 span {
    font-weight:700;
}

.package-chat .message h4 {
    margin: 0 0 12px 0;
    font-size: 18px;
}

.package-chat .answer-div {
    background-color: #4e5154;
    color: #fff;
    padding: 15px 25px 25px 25px;
    margin-top: 15px;
    border-radius: 20px;
}

.package-chat .answer-div label {
    color: #fff;
}

.package-chat .message.use .desc-lesson {
    font-size: 12px;
}

.package-chat .row {
    background: radial-gradient(191.82% 131.77% at 0% 0%, rgba(0, 255, 240, 0.3) 0%, rgba(151, 255, 249, 0) 100%);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    border: 2px solid;
    padding: 15px;
    margin-top: 15px;
}
.package-chat hr {
    height: 1px;
    background-color: #00FFF0;
}
.package-chat .no-chat p {
    text-align:center;
    margin:25px 0;
}