
@using STG.ViewModels.TeacherViewModel
@model ListTeacherCuratorPreviewsViewModel;

@{
    ViewData["Title"] = "Наставники";
    @using Microsoft.AspNetCore.Antiforgery;
    @inject IAntiforgery antiforgery
    var tokenSet = antiforgery.GetAndStoreTokens(Context);
}


<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-envelope-o"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li>Наставники</li>
            </ul>
            <h4>Наставники</h4>
        </div>
    </div>
</div>


<div class="contentpanel users">

    <div class="row">

        <div class="col-sm-12">

            <div class="list-group contact-group" id="user_list">

                @foreach (TeacherCuratorPreviewViewModel curator in Model.curators)
                {

                    <a href="/admin/homeworks/@curator.id" class="list-group-item @(curator.countUnreadHomeworks + curator.countUnreadPackageChats > 0 ? "unread" : "")">
                        <div class="media">
                            <div class="pull-left">
                                <img class="img-circle img-online" src="@curator.posterSrc" alt="...">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">@curator.name </h4>
                                <div class="media-content">

                                    <br />

                                    <ul class="list-unstyled">
                                        <li>
                                            <i class="fa fa-envelope-o"></i>@(curator.countUnreadHomeworks + curator.countUnreadPackageChats)
                                        </li>
                                        <li><i class="fa fa-users"></i> </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                }

                <!--
    <a href="#" class="list-group-item">
        <div class="media">
            <div class="pull-left">
                <img class="img-circle img-online" src="~/admin_style/images/photos/user1.png" alt="...">
            </div>
            <div class="media-body">
                <h4 class="media-heading">Weno Carasbong <small>Software Engineer at Apple, Inc.</small></h4>
                <div class="media-content">
                    <i class="fa fa-map-marker"></i> Cebu Business Park, Cebu City, Philippines
                    <ul class="list-unstyled">
                        <li><i class="fa fa-envelope-o"></i> weno.carasbong@email.com</li>
                        <li><i class="fa fa-instagram"></i> weno.carasbong</li>
                    </ul>
                </div>
            </div>
        </div>
    </a>
    -->


            </div>




        </div>
    </div>


</div>
