
.divHide {
    display: none;
}
i.fa-ban {
    color:red;
}
.success {
    color:green;
}
.danger {
    color:red;
}
.danger.bold {
    font-weight: 900;
}

#alert-success, #alert-success-request {
    position: fixed;
    z-index: 1001;
    background-color: green;
    color: #fff;
    padding: 25px;
    font-weight: 700;
    border-radius: 8px;
    top: 75px;
    right: 25px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-out;
}
    #alert-success.active, #alert-success-request.active {
        transition: all 1s ease-out;
        visibility: visible;
        opacity: 1;
    }


.warningNotFound {
    text-align: center;
    font-size: 12px;
}
.status-granted {
    color:green;
}
.status-warning {
    color: rgb(200,200,200);
}
.status-denied {
    color: red;
    font-weight:700;
}
table i {
    font-size:18px;
}

.btn-save-right {
    text-align:right;
    margin-top:12px;
}
.btn-delete {
    display:block;
}
.input-hide {
    display:none;
}
.img-circle {
    border-radius:50%;
}

.form-teacher img {
    max-height: 200px;
    margin: 12px 0;
}
.form-teacher .btn {
    margin:12px 0;
}

.form-video img {
    max-height: 200px;
    margin: 12px 0;
    border-radius:4px;
}
.form-video .btn {
    margin: 12px 0;
}

.form-lesson img {
    max-height: 200px;
    margin: 12px 0;
    border-radius: 4px;
}

.form-lesson .btn {
    margin: 12px 0;
}
.form-lesson video {
    /*max-width:500px;*/
}

.dropper-progress {
    display:none;
    font-weight:700;
    text-align:center;
}
.dropper-progress.active {
    display:block;
}

.player-preview {
    margin:15px 0;
}
.player-preview .btn {
    margin:15px 0;
}



.timing .btn-danger {
    margin-top:15px;
}
.structure .btn {
    margin-top:8px;
}



.form-package img {
    max-height: 200px;
    margin: 12px 0;
    border-radius: 4px;
}
.form-package .btn {
    margin: 12px 0;
}




.users a.list-group-item, .admins a.list-group-item, .statements a.list-group-item {
    cursor: pointer;
}




.table-lessons img {
    margin:15px 0;
    border-radius:12px;
    max-height:150px;
}



.list-group-item.unread {
    background-color: rgba(200,200,200,0.5) !important;
}

.homework-preview {
    cursor: pointer;
    border-radius: 4px !important;
}
.homework-preview.unread {
    background-color: rgba(200,200,200,0.5)!important;
}




.package-chat {
    border: 2px solid #eee;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
}
#package-chat {
    max-height:400px;
    overflow-y:auto;
}
.package-chat .message.user, .package-chat .message.admin {
    background-color: rgb(200 200 200 );
    color: #000;
    width: fit-content;
    padding: 12px;
    margin-top: 12px;
    border-radius: 15px;
}
.package-chat .message.admin {
    float:right;
}
.package-chat .message.user h6 {
    margin: 0;
}
.package-chat .message.user h4{
    margin:0 0 12px 0;
}
.package-chat .answer-div {
    background-color: #4e5154;
    color:#fff;
    padding: 15px 25px 25px 25px;
    margin-top:15px;
}
.package-chat .answer-div label {
    color: #fff;
}
.package-chat .message.use .desc-lesson {
    font-size:12px;
}



.package-passing-lessons img {
    width:100%;
    border-radius:12px;
    margin-bottom:12px;
}
.package-passing-lessons img.finished {
    border:4px solid green;
}
.package-passing-lessons img.notfinished {
    border:4px solid red;
}
.package-passing-lessons .package-day {

}
.package-passing-lessons .package-day .package-lesson {
    margin-bottom:25px;
}
.package-passing-lessons .package-day .package-lesson .stats {
    margin-bottom:0;
}
.package-passing-lessons .package-day .package-lesson .panel-group {
    margin-top: 15px;
}
.package-passing-lessons .package-day .package-lesson .user-answer-block {
    background-color: #4e5154;
    color:#fff;
    padding: 15px;
    width:fit-content;
    border-radius:10px;
    margin-top:25px;
}
.package-passing-lessons .package-day .package-lesson .user-answer-date, .package-passing-lessons .package-day .package-lesson .admin-answer-date {
    font-size:12px;
    margin-bottom:0;
}
.package-passing-lessons .package-day .package-lesson .user-answer-title {
    margin-top:12px;
    font-weight:900;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-block {
    background-color: #4e5154;
    color:#fff;
    padding: 15px;
    min-width:100%;
    border-radius:10px;
    margin-top:25px;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-title {
    margin-top:12px;
    font-weight:900;
}
.package-passing-lessons .package-day .package-lesson .admin-answer-block .btn {
    margin-top: 12px;
}




tr.not-active td {
    opacity:0.7;
}
table i {
    cursor:pointer;
}

